    .note-editor.note-frame {
        border: 2px solid #000 !important;
        box-shadow: 4px 4px 0px #000 !important;
        border-radius: 0.375rem !important;
        background-color: #fff;
        margin-bottom: 20px;
    }

    .note-toolbar {
        border-bottom: 2px solid #000 !important;
        background-color: var(--bs-tertiary-bg) !important;
        border-radius: 0.375rem 0.375rem 0 0;
        padding: 4px !important;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        align-items: center;
    }

    .note-btn-group {
        margin: 0 !important; 
        padding: 0 !important;
        display: flex
    }

    .note-btn {
        border: 1px solid transparent !important;
        background: transparent !important;
        color: #000 !important;
        font-weight: 600;
        border-radius: 2px !important;
        
        padding: 2px 6px !important; 
        font-size: 13px !important;
        line-height: 1.2 !important;
        height: 28px !important; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .note-btn:hover, .note-btn.active {
        background-color: #fff !important;
        border: 1px solid #000 !important;
        box-shadow: 1px 1px 0px #000 !important;
        color: #000 !important;
    }

    .note-editable {
        background-color: #fff !important;
        font-family: 'Epilogue', sans-serif;
        font-size: 1rem;
        min-height: 300px;
        padding: 15px !important;
    }

    .note-btn.btn-codeview.active {
        background-color: #000 !important;
        color: #a2e436 !important;
    }

    .note-dropdown-menu {
        border: 2px solid #000 !important;
        border-radius: 0 !important;
        box-shadow: 4px 4px 0px #000 !important;
    }
    .note-dropdown-item:hover {
        background-color: var(--bs-primary) !important;
    }
    
    .note-statusbar {
        border-top: 2px solid #000 !important;
        background-color: var(--bs-tertiary-bg) !important;
        border-radius: 0 0 0.375rem 0.375rem;
    }
    
    .note-btn i, .note-btn span {
        margin: 0 !important;
    }